/*
 * File Created: Saturday, 17th October 2020 3:47:18 pm
 * Author: Zheng Zhou (zhengzhou.purdue@gmail.com)
 * -----
 * Last Modified: Saturday, 17th October 2020 4:50:25 pm
 * Modified By: Zheng Zhou (zhengzhou.purdue@gmail.com>)
 * -----
 */
@import '~src/stylesheets/config/globals/all';

.dashboard {
  width: 100%;
  height: 100%;
  position: relative;
  .overview {
    width: 100%;
    height: 20%;
    background-color: var(--theme-bg-300);
  }
  .graph {
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .network-graph {
      width: 75%;
      height: 100%;
      background-color: var(--theme-bg-500);
    }
    .statistical-graph {
      width: 25%;
      height: 100%;
      background-color: var(--theme-bg-800);
    }
  }
  .overlay {
    // position: absolute;
    // top: 0;
    // right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
  }
}
