/*
 * File Created: Saturday, 17th October 2020 3:47:28 pm
 * Author: Zheng Zhou (zhengzhou.purdue@gmail.com)
 * -----
 * Last Modified: Monday, 19th October 2020 7:21:41 pm
 * Modified By: Zheng Zhou (zhengzhou.purdue@gmail.com>)
 * -----
 */
@import '~src/stylesheets/config/globals/all';

.friends-form {
  width: 100%;
  height: 100%;
  @include shadow;
  padding: 4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  &__title {
    width: 100%;
    height: 3rem;
    font-size: 2rem;
    margin: 3rem 0;
  }
  &__form {
    width: 100%;
    height: calc(100% - 9rem);
    form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      .fields-wrapper {
        width: 100%;
        height: calc(100% - 4rem);
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        mat-form-field {
          width: 100%;
          margin-bottom: 2rem;
          mat-error {
            font-style: italic;
            text-align: right;
          }
        }
        .friends-fields-wrapper {
          width: 100%;
          flex: 1;
        }
      }
      .button-wrapper {
        width: 100%;
        height: 4rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        button {
          width: 30%;
          &:not(:last-of-type) {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}
