/*
 * File Created: Sunday, 18th October 2020 3:03:37 pm
 * Author: Zheng Zhou (zhengzhou.purdue@gmail.com)
 * -----
 * Last Modified: Monday, 19th October 2020 2:35:28 pm
 * Modified By: Zheng Zhou (zhengzhou.purdue@gmail.com>)
 * -----
 */
@import '~src/stylesheets/config/globals/all';

.scatterplot-container {
  width: 100%;
  height: 100%;
  position: relative;
}
