/*
 * File Created: Saturday, 17th October 2020 12:59:30 pm
 * Author: Zheng Zhou (zhengzhou.purdue@gmail.com)
 * -----
 * Last Modified: Monday, 19th October 2020 2:30:41 pm
 * Modified By: Zheng Zhou (zhengzhou.purdue@gmail.com>)
 * -----
 */
:root {
  /* text colors */
  --theme-text       : #ffffff;
  /* Background Colors */
  --theme-bg      : #ffffff;
  /* Border Colors */
  --theme-border    : #a2a2a2;
}
