/*
 * File Created: Saturday, 17th October 2020 12:59:30 pm
 * Author: Zheng Zhou (zhengzhou.purdue@gmail.com)
 * -----
 * Last Modified: Saturday, 17th October 2020 1:01:24 pm
 * Modified By: Zheng Zhou (zhengzhou.purdue@gmail.com>)
 * -----
 */
:root {
  /* text colors */
  --theme-text-50       : #ffffff;
  --theme-text-100      : #ececec;
  --theme-text-200      : #a2a2a2;
  --theme-text-300      : #828991;
  --theme-text-400      : #595b6a;
  --theme-text-500      : #343542;
  --theme-text-600      : #282934;
  --theme-text-700      : #20222c;
  --theme-text-800      : #01050a;
  --theme-text-900      : #000000;
  /* Background Colors */
  --theme-bg-50         : #000000;
  --theme-bg-100        : #01050a;
  --theme-bg-150        : #11141B;
  --theme-bg-200        : #20222c;
  --theme-bg-300        : #282934;
  --theme-bg-350        : #2e2f3b;
  --theme-bg-400        : #343542;
  --theme-bg-450        : #404250;
  --theme-bg-500        : #4c4f5d;
  --theme-bg-550        : #505361;
  --theme-bg-600        : #595b6a;
  --theme-bg-700        : #828991;
  --theme-bg-800        : #a2a2a2;
  --theme-bg-850        : #ececec;
  --theme-bg-900        : #ffffff;

  /* Border Colors */
  --theme-border-50     : #000000;
  --theme-border-100    : #01050a;
  --theme-border-200    : #20222c;
  --theme-border-300    : #282934;
  --theme-border-400    : #343542;
  --theme-border-500    : #4c4f5d;
  --theme-border-600    : #595b6a;
  --theme-border-700    : #828991;
  --theme-border-800    : #a2a2a2;
  --theme-border-850    : #ececec;
  --theme-border-900    : #ffffff;
}
