/*
 * File Created: Saturday, 17th October 2020 1:14:23 pm
 * Author: Zheng Zhou (zhengzhou.purdue@gmail.com)
 * -----
 * Last Modified: Saturday, 17th October 2020 1:14:53 pm
 * Modified By: Zheng Zhou (zhengzhou.purdue@gmail.com>)
 * -----
 */
ul, li {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
}
