/*
 * File Created: Saturday, 17th October 2020 1:13:54 pm
 * Author: Zheng Zhou (zhengzhou.purdue@gmail.com)
 * -----
 * Last Modified: Saturday, 17th October 2020 1:14:16 pm
 * Modified By: Zheng Zhou (zhengzhou.purdue@gmail.com>)
 * -----
 */
p {
  font-size: 1.4rem;
  line-height: 1.4;
  margin: 0;
}
